{
	"host": "localhost",
	"username": "",
	"password": "",
	"database": "vorbit",
	"setup": {
		"script": "config/db_setup.sql",
		"data": {
			"subsets": ["one", "two"],
			"editions": ["first", "second"]
		}
	}
}