
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-stop:before { content: '\e808'; } /* '' */
.icon-pause:before { content: '\e809'; } /* '' */
.icon-gauge:before { content: '\e801'; } /* '' */
.icon-database:before { content: '\e800'; } /* '' */
.icon-flow-split:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e807'; } /* '' */